label,p,button{
	font-weight: bold;
	color: black;
}
input,button{
	border: 2px solid grey;
	border-radius: 5px;
}

button{
	
	
	width: 200px;
	height: 100px;
	transition: 0.3s;
}
.btn:hover{
	background: lightgray;
}
.entero{
	border: 2px solid darkgray;
	background: lightgray;
	padding: 50px;
	width: 300px;

}

#r351{
	position: relative;
	bottom: 250px;
	left: 25px;
	border: 2px solid black;
	width: 350px;
}